.vitae {
  color: #6b7280;
  font-size: 14px;
  margin: 0;
}

.document {
  margin: 0;
}

.documentHeader {
  line-height: 1 !important;
}

.selecter {
  margin: 6px 0;
}

.uploadKoko {
  background: #fafffb;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  margin: 20px 0;
  text-align: center;
}

.uplo {
  background: #3ab44a;
  border-radius: 6px;
  padding: 10px 35px;
  color: white;
  border: none;
}
