.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.holdAll {
  display: flex;
  width: 100%;
  height: 100vh;
}

.smallBox {
  width: 20%;
  height: 100vh;
  border-right: 1px solid #e5e7eb;
}

.bigBox {
  width: 80%;
}

.bigBox2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #e5e7eb;
}

.second {
  display: flex;
  align-items: center;
}

.holdImage {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.temoc {
  margin-left: 8px;
  font-size: 15px;
  font-weight: bolder;
}

.icon {
  font-size: 23px;
}

.three {
  background-color: #dd2747;
  color: white;
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 10px;
  margin-top: -15px;
  margin-right: -26px;
  z-index: 1;
}

.holdThree {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curr {
  text-transform: capitalize;
}

.routesAll {
  width: 100%;
  padding: 30px 40px;
}
